<div class="flex-row">
  <div class="flex-split-50">
    <div class="block-navy">
      <h3><a href="@Content.TitleLink1" target="_blank">@Content.Title1</a></h3>
      @Html.Raw(@Content.Body1)
    </div>
  </div>
  <div class="flex-split-50">
    <div class="block-orange">
      <h3><a href="@Content.TitleLink2" target="_blank">@Content.Title2</a></h3>
      @Html.Raw(@Content.Body2)
    </div>
  </div>
</div>
